h1{
  text-align: center;
  font-family: Calibri;
  font-size: 40px;
}
p{
  font-size: 18px;
  text-align:center;
}
img{
  width: 470;
  height: 200;
  margin: 0 auto;
  display: block;
}

body{
  background-color: #E6E6FA; 
  
}

fieldset{
  border: 0;
    padding: 1.5rem 0;
    margin: 1 auto;
}

form {
    width: 470px;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    font-family: Calibri;
    font-size: 18px;
  }
 
 label {
    display: block;
    margin: -1.5rem 10;
  }
  
 .gender{
   display: inline;
   margin-right: 5px;
   text-align: center;
   margin-left: 12px;
 }
.select{
  display: inline;
  margin-top: 1em;
  margin-left: 12px;
}
.options{
  display: block;
  margin: 0 auto;
  margin-top: -1.5em;
  margin-left: 12px;
}

  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 2em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b5f;
    border-color: white;
    min-width: 300px;
    color: white;
    }
    input{
      display: block;
    }
    .tv-types{
      display: block;
      
    }
    .inline{
      display: inline;
      margin: 0.3em;
    }

textarea{
  display: block;
  padding-top: 5px;
}
.favorite{
  margin-top: -10px;
}